.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.welcome{
    color: #9b0081;
}

.example-spacer {
    flex: 1 1 auto;
}

::ng-deep{
    mat-tab-header.mat-tab-header {
        border-bottom-color: #ff00d4;
    }
}